# Eclipse workspace metadata
/.metadata
/External Plug-in Libraries

# Eclipse compiler output
/*feature/compile*.xml

# vi detritus
*.swp
*~

# Mac OS detritus
.DS_Store

# Bnd stuff
/cnf/eclipse-*/bnd.index
/cnf/cache

# ant
.ant-targets-build.xml

# findbugs
*.findbugs.xml

/bndtools.ace.launcher/.settings
/bndtools.ace.plugin/.settings


# this directory contains the gradle cache
/.gradle/

# a '--profile' run of gradle puts the reports here
/generated/

# an aborted '--profile' run of gradle sometimes puts the reports here
/reports/
